<div class="back">
    <div style="color: white;">
        <div class="about">
            <a id="head1"><b>About Us</b></a>
            <a id="body1">
                Our people are the best! Okay, we may be partial, but suffice it to say that we
                know just how important people are in this process. We invest highly in our
                team and keep them up to date with the latest and greatest training.
            </a><br>
            <a id="body1">
                Your dedicated client success manager will work closely with you to ensure
                flawless service and personalized attention. We know that as your fulfillment
                provider we are an extension of your thriving ecommerce business.
            </a>
        </div>
    </div>
    <div class="container even-columns">
        <div class="box">
            <a id="head"><b>Our Mission</b></a>
            <a id="body">- We provide best logistic service worldwide.</a>
            <a id="body">- All payment methods we accept.</a>
            <a id="body">- We provide proper safety and security.</a>
        </div>
        <div class="box">
            <a id="head"><b>Our Promises</b></a>
            <a id="body">- We provide best logistic service worldwide.</a>
            <a id="body">- All payment methods we accept.</a>
            <a id="body">- We provide proper safety and security.</a>
        </div>
        <div class="box">
            <a id="head"><b>Our Vision</b></a>
            <a id="body">- We provide best logistic service worldwide.</a>
            <a id="body">- All payment methods we accept.</a>
            <a id="body">- We provide proper safety and security.</a>
        </div>
    </div>
</div>

<mat-card class="home-card">
    <mat-card-content class="home-card-content">
      <img mat-card-image
        src="../../assets/images/man-lifting-wooden-boxes-with-forklift_1308-8007.avif">
      <div>
        <a id="heading"><b>Trusted Digital Shipping From 1998 </b></a>
        <a id="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua cillum dolore 
            eu fugiat nulla pariatur cillum dolore eu fugiat nulla pariatur.
        </a>
      </div>
    </mat-card-content>
</mat-card> 

<div class="subscribe">
    <div class="box1">
        <a id="subsbox">Subscribe to our newsletter:</a>
        <input type="text" placeholder="Enter your Email ID ">
        <button class="sub">Subscribe</button>
    </div>
</div>

<div class="social">
    <a>Find Us on</a>
</div>

<div class="container1 even-columns">
    <div class="box">
        <img src="../../assets/images/Instagram_logo_2016.svg.webp">
    </div>
    <div class="box">
        <img src="../../assets/images/2023_Facebook_icon.svg.webp">
    </div>
    <div class="box">
        <img src="../../assets/images/new-2023-twitter-logo-x-icon-design_1017-45418.avif">
    </div>
</div>
