<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="title" [routerLink]="'/home'">
      <span>PAVAN LOGISTICS &nbsp;</span>
    </a>
    <div class="spacer"></div>
    <ng-container *ngFor="let link of links">
      <a
        mat-button
        [routerLink]="link.path"
        [routerLinkActive]="['mat-button-toggle-checked', 'active-route']"
        #rla="routerLinkActive"
      >{{ link.label }}</a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated; else loginRegister">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="profile()">Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ng-container>
    <ng-template #loginRegister>
      <a 
      mat-button 
      [routerLink]="'/login'" 
      [routerLinkActive]="['mat-button-toggle-checked', 'active-route']"
      #rla="routerLinkActive">
      Login/Register
    </a>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
