@use "@angular/material" as mat;
@include mat.core();
$my-palette: mat.$deep-purple-palette;

mat-nav-list.list-horizontal {
  display: flex;
  flex-direction: row;
}

a:link {
  color: mat.get-color-from-palette($my-palette, 'primary');
  background-color: mat.get-color-from-palette($my-palette, 'accent');
}

a.mat-button {      
  padding: 2%;      
}

a.active-route {
      background-color: white;
      color: rgb(126, 87, 194);
}

.title {
  text-decoration: none;
  color: white;
}

.spacer{
  flex: 1 1 auto;
}