<div id="sect1">
    <div class="contact-page">
      <mat-card class="mat-elevation-z12">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
          <mat-tab label="Contact Us">
            <mat-card-content>
              <form (ngSubmit)="submitContactForm(contactForm)" #contactForm="ngForm">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="First Name*"
                    required
                    name="firstname"
                    [(ngModel)]="contactFormData.firstname"
                    #firstname="ngModel"  >
                  <mat-error *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">First Name is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Last Name*"
                    required
                    name="lastname"
                    [(ngModel)]="contactFormData.lastname"
                    #lastname="ngModel">
                  <mat-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">Last Name is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Email*"
                    required
                    name="email"
                    [(ngModel)]="contactFormData.email"
                    #email="ngModel">
                  <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">Email is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <textarea
                    matInput
                    placeholder="Comments*"
                    required
                    name="comments"
                    [(ngModel)]="contactFormData.comments"
                    #comments="ngModel">
                  </textarea>
                  <mat-error *ngIf="comments.invalid && (comments.dirty || comments.touched)">Comments is required</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" class="submit" type="submit">Submit</button>
              </form>
            </mat-card-content>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
      <app-notification [message]="notificationMessage" [type]="notificationType" *ngIf="showNotification"></app-notification>
    </div>
  </div>
  
  