.contact-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

mat-card {
  width: 30%;
  border-radius: 8px;
  opacity: 0.95;
}

mat-form-field {
  width: 100%; /* Adjust the width */
  margin-bottom: 20px; /* Add margin between form fields */
}
.submit {
  width: 100%; /* Adjust the width */
}

#sect1 {
  height: 100vh;
  background-size: 100%;
  background-size: cover;
  background-image: url("../../assets/images/outsourcing-subscription-box-fulfillment.jpg");
  display: grid;
  overflow-y: hidden;
}