<div class="section1">
  <div class="track">
    <mat-card>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Track Your Order">
          <mat-card-content>
            <form (ngSubmit)="submitTrackForm($event)">
              <mat-form-field>
                <input 
                  matInput
                  placeholder="Enter Tracking ID*"
                  required
                  name="trackingid"
                  [(ngModel)]="trackingId"
                  #trackingid="ngModel"
                  pattern="^\d{10}$"> 
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="submit"
                type="submit">
                Track Order
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <app-notification [message]="notificationMessage" [type]="notificationType" *ngIf="showNotification"></app-notification>
  </div>
  <div class="stepper-horizontal" id="stepper1" *ngIf="showProgressBar && isLoggedIn">
    <div class="step" 
         [ngClass]="{'editing': currentStep === 1, 'done': currentStep > 1}">
      <div class="step-circle"><span>1</span></div>
      <div class="step-title">Order Received</div>
      <div class="step-bar-left"></div>
      <div class="step-bar-right"></div>
    </div>
    <div class="step"
         [ngClass]="{'editing': currentStep === 2, 'done': currentStep > 2}">
      <div class="step-circle"><span>2</span></div>
      <div class="step-title">Order Packed</div>
      <div class="step-bar-left"></div>
      <div class="step-bar-right"></div>
    </div>
    <div class="step" 
         [ngClass]="{'editing': currentStep === 3, 'done': currentStep > 3}">
      <div class="step-circle"><span>3</span></div>
      <div class="step-title">Shipment in Progress</div>
      <div class="step-bar-left"></div>
      <div class="step-bar-right"></div>
    </div>
    <div class="step" 
         [ngClass]="{'editing': currentStep === 4, 'done': currentStep > 4}">
      <div class="step-circle"><span>4</span></div>
      <div class="step-title">Shipment arrived to Nearest Hub</div>
      <div class="step-bar-left"></div>
      <div class="step-bar-right"></div>
    </div>
    <div class="step" 
         [ngClass]="{'editing': currentStep === 5, 'done': currentStep > 5}">
      <div class="step-circle"><span>5</span></div>
      <div class="step-title">Out for Delivery</div>
      <div class="step-bar-left"></div>
      <div class="step-bar-right"></div>
    </div>
    <div class="step" 
         [ngClass]="{'editing': currentStep === 6, 'done': currentStep > 6}">
      <div class="step-circle"><span>6</span></div>
      <div class="step-title">Shipment Delivered</div>
      <div class="step-bar-left"></div>
      <div class="step-bar-right"></div>
    </div>
  </div>
  <button *ngIf="showNextButton() && showProgressBar" class="next-button" (click)="nextStep()">Next</button>
  