.even-columns {
    display: flex;
    gap: 1em;
    margin-left: 2%;
    margin-right: 3%;
}

.container1 {
    width: 90vw;
    margin: 0.5rem auto;
    /* padding: 1rem; */
    justify-content: center;
}

.container1 > * {
    /* background-color: 	#E5E4E2; */
    padding: 1rem;
    width: 8%;
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33%
}