<section class="banner">
    <owl-carousel-o [options]="bannerSlider">
        <ng-template carouselSlide>
            <div class="image-container">
                <img src="../../assets/images/homeCarousel1.webp" alt="Banner">
                <div class="overlay-text">
                    <div class="side"><b>REALIBILITY</b></div>
                    <div class="desc">Specialist for time-critical service logistics</div>
                </div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="image-container">
                <img src="../../assets/images/homeCarousel2.webp" alt="Banner">
                <div class="overlay-text">
                    <div class="side"><b>EFFICIENCY</b></div>
                    <div class="desc">Dedicated air freight servicesfor expedited world deliveries</div>
                </div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="image-container">
                <img src="../../assets/images/homeCarousel3.webp" alt="Banner">
                <div class="overlay-text">
                    <div class="side"><b>AGILITY</b></div>
                    <div class="desc">Seamless, end-to-end solutions tailored to suit your needs</div>
                </div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="image-container">
                <img src="../../assets/images/homeCarousel4.webp" alt="Banner">
                <div class="overlay-text">
                    <div class="side"><b>INNOVATION</b></div>
                    <div class="desc">Extensive final mile options underpinned by leading technology</div>
                </div>
            </div>
            
        </ng-template>  
      </owl-carousel-o>
</section>

<div class="outer1">
    <div class="top">
        <p>Safe, Faster And Reliable</p><br>
        <p>Logistic Services</p>
    </div>
</div>
<br>
<mat-card class="home-card">
    <mat-card-content class="home-card-content">
      <img mat-card-image
        src="../../assets/images/home2.jpg">
      <div>
        <a class="heading"> Safe and Faster Logistics Service Near You </a>
        <a class="content">
            Our Services are custom built for your growth and success.
            We want your business to succeed and consider ourselves an extension of
            your team. Our priority is to provide your customers with fast and reliable
            service with low cost shipping.
        </a>
      </div>
    </mat-card-content>
</mat-card>
<div class="body">
    <h1 id="commit"><b id = "commit2">Our Commitment</b></h1>
</div>
<div class="outer">
    <div class="container even-columns">
        <div class="box">
            <img src="../../assets/images/commitment1.webp" style="height: 100%; width: 25%;">
            <a class="commit1"><b>Carrier Rate Shopping</b> <br> We guarantee the lowest shipping rate available via our multi courier rate shopping software. 
                Not only can we rate shop between major carriers but also their service levels and special options.</a>
        </div>
        <div class="box">
            <img src="../../assets/images/shipping-fast-delivery-man-riding-260nw-1202545720.jpg" style="height: 100%; width: 30%;">
            <a class="commit1"><b>Same Day Shipping</b>
                <br><br>
                 Orders are delivered the next day before 6:00pm.</a>
        </div>
        <div class="box">
            <img src="../../assets/images/shipping-cost-icon-black-sign-vector-35227414.jpg" style="height: 100%; width: 30%;">
            <a class="commit1"><b>Low Cost Shipment</b></a>
        </div>
    </div>
</div>

<div >
    <div class="body">
        <h1 id="commit"><b id = "commit2">Logistics in Numbers</b></h1>
    </div>
    <div class="container even-columns">
        <div class="box1">
            <div class="commit1">
                <p class="start"><b>1,800,000</b></p>
                <p class="end"><br>Over 1.8 million time-critical shipments handled per year.</p>
            </div>
        </div>
        <div class="box1">
            <div class="commit1">
                <p class="start"><b>99.8%</b></p>
                <p class="end"><br>99.8% delivery accuracy.</p>
            </div>
        </div>
        <div class="box1">
            <div class="commit1">
                <p class="start"><b>50</b></p>
                <p class="end"><br>Over 50 active flights per week.</p>
            </div>
        </div>
        <div class="box1">
            <div class="commit1">
                <p class="start"><b>14</b></p>
                <p class="end"><br> 14 Service centres.</p>
            </div>
        </div>
    </div>
</div>

<div class="outer2">
    <div class="container1 even-columns">
        <div class="box">
            <img src="../../assets/images/contact-us-20.png" style="height: 80%; width: 25%;">
            <a href="contact" class="contact">Contact US</a>
        </div>
        <div class="box">
            <img src="../../assets/images/4465439-200.png" style="height: 80%; width: 30%;">
            <a href="services" class="contact">Get a Quote!</a>
        </div>
    </div>
</div>