<div class="top">
    <p>Safe, Faster And Reliable</p><br>
    <p>Logistic Services</p>
</div>
<br>
<mat-card class="home-card">
    <mat-card-content class="home-card-content">
      <img mat-card-image
        src="../../assets/images/home2.jpg">
      <div>
        <a class="heading"> Safe and Faster Logistics Service Near You </a>
        <a class="content">
            Our Services are custom built for your growth and success.
            We want your business to succeed and consider ourselves an extension of
            your team. Our priority is to provide your customers with fast and reliable
            service with low cost shipping.
        </a>
      </div>
    </mat-card-content>
</mat-card>
<div class="body">
    <h1 id="commit"><b id = "commit2">Our Commitment</b></h1>
</div>
<div class="outer">
    <div class="container even-columns">
        <div class="box">
            <img src="../../assets/images/commitment1.webp" style="height: 100%; width: 25%;">
            <a class="commit1"><b>Carrier Rate Shopping</b> <br> We guarantee the lowest shipping rate available via our multi courier rate shopping software. 
                Not only can we rate shop between major carriers but also their service levels and special options.</a>
        </div>
        <div class="box">
            <img src="../../assets/images/shipping-fast-delivery-man-riding-260nw-1202545720.jpg" style="height: 100%; width: 30%;">
            <a class="commit1"><b>Same Day Shipping</b>
                <br><br>
                 Orders are delivered the next day before 6:00pm.</a>
        </div>
        <div class="box">
            <img src="../../assets/images/shipping-cost-icon-black-sign-vector-35227414.jpg" style="height: 100%; width: 30%;">
            <a class="commit1"><b>Low Cost Shipment</b></a>
        </div>
    </div>
</div>

<div class="outer2">
    <div class="container even-columns">
        <div class="box">
            <img src="../../assets/images/contact-us-20.png" style="height: 100%; width: 25%;">
            <a href="contact" class="contact">Contact US</a>
        </div>
        <div class="box">
            <img src="../../assets/images/4465439-200.png" style="height: 100%; width: 30%;">
            <a href="services" class="contact">Get a Quote!</a>
        </div>
    </div>
</div>